{
  "openapi": "3.0.1",
  "info": {
    "title": "Mailchimp Marketing API",
    "contact": {
      "name": "Mailchimp API Support",
      "email": "apihelp@mailchimp.com"
    },
    "version": "3.0.55",
    "x-permalink": "https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json"
  },
  "externalDocs": {
    "description": "Learn more with the full Mailchimp API documentation.",
    "url": "https://mailchimp.com/developer/marketing/"
  },
  "servers": [
    {
      "url": "https://server.api.mailchimp.com/3.0"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/campaigns": {
      "get": {
        "tags": [
          "campaigns"
        ],
        "summary": "List campaigns",
        "description": "Get all campaigns in an account.",
        "operationId": "getCampaigns",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-title": "Fields"
            },
            "x-title": "Fields"
          },
          {
            "name": "exclude_fields",
            "in": "query",
            "description": "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-title": "Exclude Fields"
            },
            "x-title": "Exclude Fields"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of records to return. Default value is 10. Maximum value is 1000",
            "schema": {
              "maximum": 1000,
              "type": "integer",
              "default": 10,
              "x-title": "Count"
            },
            "x-title": "Count"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0.",
            "schema": {
              "type": "integer",
              "default": 0,
              "x-title": "Offset"
            },
            "x-title": "Offset"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The campaign type.",
            "schema": {
              "type": "string",
              "enum": [
                "regular",
                "plaintext",
                "absplit",
                "rss",
                "variate"
              ],
              "x-title": "Campaign Type"
            },
            "x-title": "Campaign Type"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the campaign.",
            "schema": {
              "type": "string",
              "enum": [
                "save",
                "paused",
                "schedule",
                "sending",
                "sent"
              ],
              "x-title": "Status"
            },
            "x-title": "Status"
          },
          {
            "name": "before_send_time",
            "in": "query",
            "description": "Restrict the response to campaigns sent before the set time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "x-title": "Before Send Time"
            },
            "x-title": "Before Send Time"
          },
          {
            "name": "since_send_time",
            "in": "query",
            "description": "Restrict the response to campaigns sent after the set time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "x-title": "Since Send Time"
            },
            "x-title": "Since Send Time"
          },
          {
            "name": "before_create_time",
            "in": "query",
            "description": "Restrict the response to campaigns created before the set time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "x-title": "Before Create Time"
            },
            "x-title": "Before Create Time"
          },
          {
            "name": "since_create_time",
            "in": "query",
            "description": "Restrict the response to campaigns created after the set time. Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "x-title": "Since Create Time"
            },
            "x-title": "Since Create Time"
          },
          {
            "name": "list_id",
            "in": "query",
            "description": "The unique id for the list.",
            "schema": {
              "type": "string",
              "x-title": "List ID"
            },
            "x-title": "List ID"
          },
          {
            "name": "folder_id",
            "in": "query",
            "description": "The unique folder id.",
            "schema": {
              "type": "string",
              "x-title": "Folder ID"
            },
            "x-title": "Folder ID"
          },
          {
            "name": "member_id",
            "in": "query",
            "description": "Retrieve campaigns sent to a particular list member. Member ID is The MD5 hash of the lowercase version of the list member’s email address.",
            "schema": {
              "type": "string",
              "x-title": "Member ID"
            },
            "x-title": "Member ID"
          },
          {
            "name": "sort_field",
            "in": "query",
            "description": "Returns files sorted by the specified field.",
            "schema": {
              "type": "string",
              "enum": [
                "create_time",
                "send_time"
              ],
              "x-title": "Sort By Field"
            },
            "x-title": "Sort By Field"
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Determines the order direction for sorted results.",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "x-title": "Sort Direction"
            },
            "x-title": "Sort Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "title": "Campaigns",
                      "type": "array",
                      "description": "An array of campaigns.",
                      "items": {
                        "title": "Campaign",
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Campaign ID",
                            "type": "string",
                            "description": "A string that uniquely identifies this campaign.",
                            "readOnly": true
                          },
                          "web_id": {
                            "title": "Campaign Web ID",
                            "type": "integer",
                            "description": "The ID used in the Mailchimp web application. View this campaign in your Mailchimp account at `https://{dc}.admin.mailchimp.com/campaigns/show/?id={web_id}`.",
                            "readOnly": true
                          },
                          "parent_campaign_id": {
                            "title": "Parent Campaign ID",
                            "type": "string",
                            "description": "If this campaign is the child of another campaign, this identifies the parent campaign. For Example, for RSS or Automation children.",
                            "readOnly": true
                          },
                          "type": {
                            "title": "Campaign Type",
                            "type": "string",
                            "description": "There are four types of [campaigns](https://mailchimp.com/help/getting-started-with-campaigns/) you can create in Mailchimp. A/B Split campaigns have been deprecated and variate campaigns should be used instead.",
                            "enum": [
                              "regular",
                              "plaintext",
                              "absplit",
                              "rss",
                              "variate"
                            ]
                          },
                          "create_time": {
                            "title": "Create Time",
                            "type": "string",
                            "description": "The date and time the campaign was created in ISO 8601 format.",
                            "format": "date-time",
                            "readOnly": true
                          },
                          "archive_url": {
                            "title": "Archive URL",
                            "type": "string",
                            "description": "The link to the campaign's archive version in ISO 8601 format.",
                            "readOnly": true
                          },
                          "long_archive_url": {
                            "title": "Long Archive URL",
                            "type": "string",
                            "description": "The original link to the campaign's archive version.",
                            "readOnly": true
                          },
                          "status": {
                            "title": "Campaign Status",
                            "type": "string",
                            "description": "The current status of the campaign.",
                            "readOnly": true,
                            "enum": [
                              "save",
                              "paused",
                              "schedule",
                              "sending",
                              "sent",
                              "canceled",
                              "canceling",
                              "archived"
                            ]
                          },
                          "emails_sent": {
                            "title": "Emails Sent",
                            "type": "integer",
                            "description": "The total number of emails sent for this campaign.",
                            "readOnly": true
                          },
                          "send_time": {
                            "title": "Send Time",
                            "type": "string",
                            "description": "The date and time a campaign was sent.",
                            "format": "date-time",
                            "readOnly": true
                          },
                          "content_type": {
                            "title": "Content Type",
                            "type": "string",
                            "description": "How the campaign's content is put together.",
                            "enum": [
                              "template",
                              "html",
                              "url",
                              "multichannel"
                            ]
                          },
                          "needs_block_refresh": {
                            "title": "Needs Block Refresh",
                            "type": "boolean",
                            "description": "Determines if the campaign needs its blocks refreshed by opening the web-based campaign editor. Deprecated and will always return false.",
                            "readOnly": true
                          },
                          "resendable": {
                            "title": "Resendable",
                            "type": "boolean",
                            "description": "Determines if the campaign qualifies to be resent to non-openers.",
                            "readOnly": true
                          },
                          "recipients": {
                            "title": "List",
                            "type": "object",
                            "properties": {
                              "list_id": {
                                "title": "List ID",
                                "type": "string",
                                "description": "The unique list id."
                              },
                              "list_is_active": {
                                "title": "List Status",
                                "type": "boolean",
                                "description": "The status of the list used, namely if it's deleted or disabled.",
                                "readOnly": true
                              },
                              "list_name": {
                                "title": "List Name",
                                "type": "string",
                                "description": "The name of the list.",
                                "readOnly": true
                              },
                              "segment_text": {
                                "title": "Segment Text",
                                "type": "string",
                                "description": "A description of the [segment](https://mailchimp.com/help/create-and-send-to-a-segment/) used for the campaign. Formatted as a string marked up with HTML.",
                                "readOnly": true
                              },
                              "recipient_count": {
                                "title": "Recipient Count",
                                "type": "integer",
                                "description": "Count of the recipients on the associated list. Formatted as an integer.",
                                "readOnly": true
                              },
                              "segment_opts": {
                                "title": "Segment Options",
                                "type": "object",
                                "properties": {
                                  "saved_segment_id": {
                                    "title": "Saved Segment ID",
                                    "type": "integer",
                                    "description": "The id for an existing saved segment."
                                  },
                                  "prebuilt_segment_id": {
                                    "title": "Prebuilt Segment Id",
                                    "type": "string",
                                    "description": "The prebuilt segment id, if a prebuilt segment has been designated for this campaign.",
                                    "example": "subscribers-female"
                                  },
                                  "match": {
                                    "title": "Match Type",
                                    "type": "string",
                                    "description": "Segment match type.",
                                    "enum": [
                                      "any",
                                      "all"
                                    ]
                                  },
                                  "conditions": {
                                    "title": "Segment Type",
                                    "type": "array",
                                    "description": "Segment match conditions. There are multiple possible types, see the [condition types documentation](https://mailchimp.com/developer/marketing/docs/alternative-schemas/#segment-condition-schemas).",
                                    "items": {
                                      "type": "object",
                                      "x-oneOf": [
                                        {
                                          "type": "object",
                                          "title": "Aim Segment",
                                          "description": "Segment by interaction with a specific campaign.",
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "Aim",
                                              "enum": [
                                                "Aim"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "aim"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by interaction with a specific campaign.",
                                              "example": "aim"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "open",
                                                "click",
                                                "sent",
                                                "noopen",
                                                "noclick",
                                                "nosent"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "The status of the member with regard to their campaign interaction. One of the following: opened, clicked, was sent, didn't open, didn't click, or was not sent.",
                                              "example": "open"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Data",
                                              "description": "Either the web id value for a specific campaign or 'any' to account for subscribers who have/have not interacted with any campaigns.",
                                              "example": "any"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Automation Segment",
                                          "description": "Segment by interaction with an Automation workflow.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "Automation",
                                              "enum": [
                                                "Automation"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "automation"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by interaction with an Automation workflow.",
                                              "example": "automation"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "started",
                                                "completed",
                                                "not_started",
                                                "not_completed"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "The status of the member with regard to the automation workflow. One of the following: has started the workflow, has completed the workflow, has not started the workflow, or has not completed the workflow.",
                                              "example": "started"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Data",
                                              "description": "The web id for the automation workflow to segment against.",
                                              "example": "2135217"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Poll Activity Segment",
                                          "description": "Segment by poll activity.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "CampaignPoll",
                                              "enum": [
                                                "CampaignPoll"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "poll"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by poll activity.",
                                              "example": "poll"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "member",
                                                "notmember"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members have/have not interacted with a specific poll in a Mailchimp email.",
                                              "example": "member"
                                            },
                                            "value": {
                                              "type": "number",
                                              "title": "Segment Operator",
                                              "description": "The id for the poll.",
                                              "example": 409
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Conversation Segment",
                                          "description": "Segment by interaction with a campaign via Conversations.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "Conversation",
                                              "enum": [
                                                "Conversation"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "conversation"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by interaction with a campaign via Conversations.",
                                              "example": "conversation"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "member",
                                                "notmember"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "The status of a member's interaction with a conversation. One of the following: has replied or has not replied.",
                                              "example": "member"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Data",
                                              "description": "The web id value for a specific campaign or 'any' to account for subscribers who have/have not interacted with any campaigns.",
                                              "example": "any"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Date Segment",
                                          "description": "Segment by a specific date field.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "Date",
                                              "enum": [
                                                "Date"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "timestamp_opt",
                                                "info_changed",
                                                "ecomm_date"
                                              ],
                                              "title": "Segment Field",
                                              "description": "The type of date field to segment on: The opt-in time for a signup, the date the subscriber was last updated, or the date of their last ecomm purchase.",
                                              "example": "timestamp_opt"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "greater",
                                                "less",
                                                "is",
                                                "not",
                                                "blank",
                                                "blank_not",
                                                "within",
                                                "notwithin"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "When the event took place:  Before, after, is a specific date, is not a specific date, is blank, or is not blank.",
                                              "example": "greater"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Data",
                                              "description": "What type of data to segment on: a specific date, a specific campaign, or the last campaign sent.",
                                              "example": "date"
                                            },
                                            "extra": {
                                              "type": "string",
                                              "title": "Segment Extra Value",
                                              "description": "When segmenting on 'date' or 'campaign', the date for the segment formatted as YYYY-MM-DD or the web id for the campaign.",
                                              "example": "2015-01-30T00:00:00.000Z"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Email Client Segment",
                                          "description": "Segment by use of a particular email client.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "EmailClient",
                                              "enum": [
                                                "EmailClient"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "email_client"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by use of a particular email client.",
                                              "example": "email_client"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "client_is",
                                                "client_not"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "The operation to determine whether we select clients that match the value, or clients that do not match the value.",
                                              "example": "client_is"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Data",
                                              "description": "The name of the email client.",
                                              "example": "Gmail"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Language Segment",
                                          "description": "Segment by language.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "Language",
                                              "enum": [
                                                "Language"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "language"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segmenting based off of a subscriber's language.",
                                              "example": "language"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "is",
                                                "not"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Whether the member's language is or is not set to a specific language.",
                                              "example": "is"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Data",
                                              "description": "A two-letter language identifier.",
                                              "example": "en"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Member Rating Segment",
                                          "description": "Segment by member rating.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "MemberRating",
                                              "enum": [
                                                "MemberRating"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "rating"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by member rating.",
                                              "example": "rating"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "is",
                                                "not",
                                                "greater",
                                                "less"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members who have have a rating that is/not exactly a given number or members who have a rating greater/less than a given number.",
                                              "example": "greater"
                                            },
                                            "value": {
                                              "type": "number",
                                              "title": "Segment Operator",
                                              "description": "The star rating number to segment against.",
                                              "example": 4
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Signup Source Segment",
                                          "description": "Segment by signup source.",
                                          "required": [
                                            "field",
                                            "condition_type",
                                            "op"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "enum": [
                                                "SignupSource"
                                              ],
                                              "x-value": "SignupSource",
                                              "title": "Type"
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "source"
                                              ],
                                              "title": "Segment Field",
                                              "example": "source"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "source_is",
                                                "source_not"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Whether the member's signup source was/was not a particular value.",
                                              "example": "source_is"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Data",
                                              "description": "The signup source.",
                                              "example": "List Import"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Survey Monkey Segment",
                                          "description": "Segment by interaction with a SurveyMonkey survey.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "SurveyMonkey",
                                              "enum": [
                                                "SurveyMonkey"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "survey_monkey"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by interaction with a SurveyMonkey survey.",
                                              "example": "survey_monkey"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "started",
                                                "completed",
                                                "not_started",
                                                "not_completed"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "The status of the member with regard to the survey.One of the following: has started the survey, has completed the survey, has not started the survey, or has not completed the survey.",
                                              "example": "started"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Survey ID",
                                              "description": "The unique ID of the survey monkey survey.",
                                              "example": "32179586"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "VIP Segment",
                                          "description": "Segment by VIP status.",
                                          "required": [
                                            "field",
                                            "op"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "VIP",
                                              "enum": [
                                                "VIP"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "gmonkey"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by VIP status.",
                                              "example": "gmonkey"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "member",
                                                "notmember"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Whether the member is or is not marked as VIP.",
                                              "example": "member"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Interests Segment",
                                          "description": "Segment by an interest group merge field.",
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "Interests",
                                              "enum": [
                                                "Interests"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "title": "Segment Field",
                                              "description": "Segmenting based on interest group information. This should start with 'interests-' followed by the grouping id. Ex. 'interests-123'.",
                                              "example": "interests-123"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "interestcontains",
                                                "interestcontainsall",
                                                "interestnotcontains"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Whether the member is a part of one, all, or none of the groups.",
                                              "example": "interestcontains"
                                            },
                                            "value": {
                                              "type": "array",
                                              "title": "Segment Value",
                                              "description": "An array containing strings, each representing a group id.",
                                              "items": {
                                                "type": "string",
                                                "example": [
                                                  "44401",
                                                  "44405",
                                                  "44409"
                                                ]
                                              }
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Ecommerce Category Segment",
                                          "description": "Segment by purchases in specific items or categories.",
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "EcommCategory",
                                              "enum": [
                                                "EcommCategory"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "ecomm_cat",
                                                "ecomm_prod"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by purchases in specific items or categories.",
                                              "example": "ecomm_cat"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "is",
                                                "not",
                                                "contains",
                                                "notcontain",
                                                "starts",
                                                "ends"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "A member who has purchased from a category/specific item that is/is not a specific name, where the category/item name contains/doesn't contain a specific phrase or string, or a category/item name that starts/ends with a string.",
                                              "example": "is"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Data",
                                              "description": "The ecommerce category/item information.",
                                              "example": "Product"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Ecommerce Number Segment",
                                          "description": "Segment by average spent total, number of orders, total number of products purchased, or average number of products per order.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "EcommNumber",
                                              "enum": [
                                                "EcommNumber"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "ecomm_spent_avg",
                                                "ecomm_orders",
                                                "ecomm_prod_all",
                                                "ecomm_avg_ord"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by average spent total, number of orders, total number of products purchased, or average number of products per order.",
                                              "example": "ecomm_orders"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "is",
                                                "not",
                                                "greater",
                                                "less"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members who have spent exactly, have not spent exactly, spent more, or spent less than the segment value.",
                                              "example": "greater"
                                            },
                                            "value": {
                                              "type": "number",
                                              "title": "Segment Operator",
                                              "description": "Members who have spent exactly, have not spent exactly, spent more, or spent less than this amount.",
                                              "example": 42
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Ecommerce Purchased Segment",
                                          "description": "Segment by whether someone has purchased anything.",
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "EcommPurchased",
                                              "enum": [
                                                "EcommPurchased"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "ecomm_purchased"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by whether someone has purchased anything.",
                                              "example": "ecomm_purchased"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "member",
                                                "notmember"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members who have have ('member') or have not ('notmember') purchased.",
                                              "example": "member"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Ecommerce Spent Segment",
                                          "description": "Segment by amount spent on a single order or across all orders.",
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "EcommSpent",
                                              "enum": [
                                                "EcommSpent"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "ecomm_spent_one",
                                                "ecomm_spent_all"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by amount spent on a single order or across all orders.",
                                              "example": "ecomm_spent_one"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "greater",
                                                "less"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members who have spent 'more' or 'less' than then specified value.",
                                              "example": "greater"
                                            },
                                            "value": {
                                              "type": "integer",
                                              "title": "Segment Data",
                                              "description": "The total amount a member spent.",
                                              "example": 42
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Ecommerce Purchased Store Segment",
                                          "description": "Segment by purchases from a specific store.",
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "EcommStore",
                                              "enum": [
                                                "EcommStore"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "ecomm_store"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by purchases from a specific store.",
                                              "example": "ecomm_store"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "is",
                                                "not"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members who have or have not purchased from a specific store.",
                                              "example": "is"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Operator",
                                              "description": "The store id to segment against.",
                                              "example": "289"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Goal Activity Segment",
                                          "description": "Segment by Goal activity.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "GoalActivity",
                                              "enum": [
                                                "GoalActivity"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "goal"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by Goal activity.",
                                              "example": "goal"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "is",
                                                "goal_not",
                                                "contains",
                                                "goal_notcontain",
                                                "starts",
                                                "ends"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Whether the website URL is/not exactly, contains/doesn't contain, starts with/ends with a string.",
                                              "example": "is"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Value",
                                              "description": "The URL to check Goal activity against."
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Goal Timestamp Segment",
                                          "description": "Segment by most recent interaction with a website.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "GoalTimestamp",
                                              "enum": [
                                                "GoalTimestamp"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "goal_last_visited"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by most recent interaction with a website.",
                                              "example": "goal_last_visited"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "greater",
                                                "less",
                                                "is"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Whether the website activity happened after, before, or at a given timestamp.",
                                              "example": "greater"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Value",
                                              "description": "The date to check Goal activity against.",
                                              "example": "2015-07-20T19:45:21.000Z"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Similar Subscribers Segment Member Segment",
                                          "description": "Segment by similar subscribers.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "FuzzySegment",
                                              "enum": [
                                                "FuzzySegment"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "fuzzy_segment"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by similar subscribers.",
                                              "example": "fuzzy_segment"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "fuzzy_is",
                                                "fuzzy_not"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members who are/are not apart of a 'similar subscribers' segment.",
                                              "example": "fuzzy_is"
                                            },
                                            "value": {
                                              "type": "number",
                                              "title": "Segment Operator",
                                              "description": "The id for the 'similar subscribers' segment.",
                                              "example": 48433
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Static Segment Member Segment",
                                          "description": "Segment by a given static segment.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "StaticSegment",
                                              "enum": [
                                                "StaticSegment"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "static_segment"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by a given static segment.",
                                              "example": "static_segment"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "static_is",
                                                "static_not"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members who are/are not apart of a static segment.",
                                              "example": "static_is"
                                            },
                                            "value": {
                                              "type": "number",
                                              "title": "Segment Operator",
                                              "description": "The id for the static segment.",
                                              "example": 48433
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Location-Based Segment",
                                          "description": "Segment by a specific country or US state.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "IPGeoCountryState",
                                              "enum": [
                                                "IPGeoCountryState"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "ipgeo"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segmenting subscribers who are within a specific location.",
                                              "example": "ipgeo"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "ipgeocountry",
                                                "ipgeonotcountry",
                                                "ipgeostate",
                                                "ipgeonotstate"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Segment members who are within a specific country or US state.",
                                              "example": "ipgeocountry"
                                            },
                                            "value": {
                                              "type": "string",
                                              "title": "Segment Data",
                                              "description": "The two-letter country code or US state abbreviation.",
                                              "example": "US"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Geolocation Segment",
                                          "description": "Segment by a specific geographic region.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value",
                                            "addr",
                                            "lat",
                                            "lng"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "IPGeoIn",
                                              "enum": [
                                                "IPGeoIn"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "ipgeo"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segmenting subscribers who are within a specific location.",
                                              "example": "ipgeo"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "ipgeoin",
                                                "ipgeonotin"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Segment members who are within a specific geographic region.",
                                              "example": "ipgeoin"
                                            },
                                            "value": {
                                              "type": "integer",
                                              "title": "Segment Data",
                                              "description": "The radius of the target location.",
                                              "example": 42
                                            },
                                            "addr": {
                                              "type": "string",
                                              "title": "Segment Location Address",
                                              "description": "The address of the target location.",
                                              "example": "Atlanta, GA, USA"
                                            },
                                            "lat": {
                                              "type": "string",
                                              "title": "Segment Location Latitude",
                                              "description": "The latitude of the target location.",
                                              "example": "33.7489954"
                                            },
                                            "lng": {
                                              "type": "string",
                                              "title": "Segment Location Longitude",
                                              "description": "The longitude of the target location.",
                                              "example": -84.3879824
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "US Zip Code Segment",
                                          "description": "Segment by a specific US ZIP code.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value",
                                            "extra"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "IPGeoInZip",
                                              "enum": [
                                                "IPGeoInZip"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "ipgeo"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segmenting subscribers who are within a specific location.",
                                              "example": "ipgeo"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "ipgeoinzip"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Segment members who are within a specific US zip code.",
                                              "example": "ipgeoinzip"
                                            },
                                            "value": {
                                              "type": "integer",
                                              "title": "Segment Data",
                                              "description": "The radius of the target location.",
                                              "example": 25
                                            },
                                            "extra": {
                                              "type": "integer",
                                              "title": "Extra Data",
                                              "description": "The zip code to segment against.",
                                              "example": 30318
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Unknown Location-Based Segment",
                                          "description": "Segment members whose location information is unknown.",
                                          "required": [
                                            "field",
                                            "op"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "IPGeoUnknown",
                                              "enum": [
                                                "IPGeoUnknown"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "ipgeo"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segmenting subscribers who are within a specific location.",
                                              "example": "ipgeo"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "ipgeounknown"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Segment members for which location information is unknown.",
                                              "example": "ipgeounknown"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Zip Code Location-Based Segment",
                                          "description": "Segment by a specific US ZIP code.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "IPGeoZip",
                                              "enum": [
                                                "IPGeoZip"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "ipgeo"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segmenting subscribers who are within a specific location.",
                                              "example": "ipgeo"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "ipgeoiszip",
                                                "ipgeonotzip"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Segment members who are/are not within a specific US zip code.",
                                              "example": "ipgeonotzip"
                                            },
                                            "value": {
                                              "type": "integer",
                                              "title": "Segment Data",
                                              "description": "The 5-digit zip code.",
                                              "example": 30318
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Social Profiles Age Segment",
                                          "description": "Segment by age ranges in Social Profiles data.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "SocialAge",
                                              "enum": [
                                                "SocialAge"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "social_age"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by age ranges in Social Profiles data.",
                                              "example": "social_age"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "is",
                                                "not"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members who are/not the exact criteria listed.",
                                              "example": "is"
                                            },
                                            "value": {
                                              "type": "string",
                                              "enum": [
                                                "18-24",
                                                "25-34",
                                                "35-54",
                                                "55+"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "The age range to segment.",
                                              "example": "35-54"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Social Profiles Gender Segment",
                                          "description": "Segment by listed gender in Social Profiles data.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "SocialGender",
                                              "enum": [
                                                "SocialGender"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "social_gender"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by listed gender in Social Profiles data.",
                                              "example": "social_gender"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "is",
                                                "not"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members who are/not the exact criteria listed.",
                                              "example": "is"
                                            },
                                            "value": {
                                              "type": "string",
                                              "enum": [
                                                "male",
                                                "female"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "The Social Profiles gender to segment.",
                                              "example": "female"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "title": "Social Profiles Influence Segment",
                                          "description": "Segment by influence rating in Social Profiles data.",
                                          "required": [
                                            "field",
                                            "op",
                                            "value"
                                          ],
                                          "properties": {
                                            "condition_type": {
                                              "type": "string",
                                              "x-value": "SocialInfluence",
                                              "enum": [
                                                "SocialInfluence"
                                              ]
                                            },
                                            "field": {
                                              "type": "string",
                                              "enum": [
                                                "social_influence"
                                              ],
                                              "title": "Segment Field",
                                              "description": "Segment by influence rating in Social Profiles data.",
                                              "example": "social_influence"
                                            },
                                            "op": {
                                              "type": "string",
                                              "enum": [
                                                "is",
                                                "not",
                                                "greater",
                                                "less"
                                              ],
                                              "title": "Segment Operator",
                                              "description": "Members who have a rating that is/not or greater/less than the rating provided.",
                                              "example": "greater"
                                            },
                                            "value": {
                                              "type": "number",
                                              "title": "Segment Operator",
[...]
